<div class="task-container">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" class="task-form">
          <mat-form-field appearance="fill">
            <mat-label>Título</mat-label>
            <input matInput placeholder="Ingrese el título" formControlName="title">
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Ingrese la descripción" formControlName="description"></textarea>
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="addTask()">Enviar</button>
        </form>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource">
  
          <!-- Título Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td mat-cell *matCellDef="let task"> {{task.title}} </td>
          </ng-container>
  
          <!-- Descripción Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let task"> {{task.description}} </td>
          </ng-container>
  
          <!-- Fecha Column -->
          <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let task"> {{task.createdAt}} </td>
          </ng-container>
  
          <!-- Estado Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Completado </th>
            <td mat-cell *matCellDef="let task"> 
                <mat-checkbox color="primary" [checked]="task.status" (change)="changeTaskInfo(task, task.id, $event)"></mat-checkbox> 
            </td>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let task">
                <div class="flex">
                    <button mat-icon-button matTooltip="Editar" class="text-success" (click)="updateTask(task)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button  mat-icon-button matTooltip="Eliminar" class="text-danger" (click)="deleteTask(task.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>            
          </ng-container>
  
          <!-- Header Row -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <!-- Data Rows -->
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
        </table>  
        <div class="loading-container" *ngIf="tasksLoading">
          <mat-spinner></mat-spinner>
        </div>     
        <hr />
        <button mat-raised-button color="primary" (click)="goToBack()">Ir al inicio</button>
      </mat-card-content>
    </mat-card>
  </div>
  